<launch>
  <node name="wave_rover_controller" pkg="wave_rover_ros" type="wave_rover_controller.py" output="screen" />
  <node name="lidar_integration" pkg="wave_rover_ros" type="lidar_integration.py" output="screen" />
  <node name="mapping" pkg="wave_rover_ros" type="mapping.py" output="screen" />
  <node name="navigation" pkg="wave_rover_ros" type="navigation.py" output="screen" />
</launch>